<%= form_for(travelpa) do |f| %>
  <% if travelpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travelpa.errors.count, "error") %> prohibited this travelpa from being saved:</h2>

      <ul>
      <% travelpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
