<!-- <p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Claim No</th>
      <th>Claim ID</th>
      <th>Issue Code</th>
      <th>Loss Reserve Amt</th>
      <th>Expense Reserve Amt</th>
      <th>Loss Paid Amt</th>
      <th>Expense Paid Amt</th>
    </tr>
  </thead>
  <tbody>

<%#= @motors.claim_no %>
<%#= @motors.claim_id %>
<%#= @motors.issue_code %>
<%#= @motors.status_code %>
<%#= @motors.lossres_amt %>
<%#= @motors.expenseres_amt %>
<%#= @motors.losspd_amt %>
<%#= @motors.exppd_amt %>

<%= link_to 'Back', motors_path %>

  </tbody>
</table> -->
